{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@next/next/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "quotes": [
            2,
            "backtick"
        ],
        "max-lines": [
            "error",
            600
        ],
        "react/jsx-key": "off"
    }
}