html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-style: normal;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

html {
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), linear-gradient(246.93deg, #402FC8 57.74%, #47FAC2 131.4%);
}

body {
  height: 100%;
  background: right/contain no-repeat url('../../assets/svg/background.svg');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
